# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
build/

# Markup dir
markup

#Mock data file
mocks.json

#Logs dir
src/service/logs

src/express/tmp
